<section class="about container">
    <h1 class="text-center mb-5">About</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum nesciunt architecto, iusto facere nulla reprehenderit quod sunt quasi ipsam consectetur ab rem maxime rerum illo quaerat officia! Alias, necessitatibus eaque.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, nisi. Consectetur totam fugit perspiciatis provident est deleniti recusandae facilis dignissimos quis officiis nemo assumenda error neque labore, vel facere dicta?</p>


<div class="follow text-center">
    <h2>Follow Us</h2>
    <a href="">Facebook</a>
    <a href="">instagram</a>
    <a href="">twitter</a>
    <a href="">telegram</a>

</div>
</section>